.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nav-header {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.nav-label {
  margin-left: 10px;
  width: 60%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  font-size: smaller;
}

.i {
  font-size: x-large;
  color: lightgray;
}

.info-chat {
  font-size: xx-small;
  font-style: italic;
}

.main-content {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 500px;
}

.nav-form-field {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  color: #333;
  padding: .3rem 1rem;
  width: 86%;
}

.form-field {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  color: #333;
  padding: .5rem 1rem;
  width: 100%;
}

.nav-form-field:focus, .form-field:focus {
  border-color: #8468ff;
  box-shadow: 0 0 7px #a3acff;
  outline: none;
}

.message {
  border: 1px solid transparent;
  border-radius: 5px;
  display: inline-block;
  list-style: none;
  padding: .1rem 1rem;
  margin-bottom: 5px;
}

.list {
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 5px;
  height: 80vh;
  overflow: auto;
  margin-bottom: 5px;
}

.list-item {
  list-style: none;
  font-size: smaller;
  display: flow-root;
}

.message.message-local {
  background: #ddffdd;
  border-color: #93bf50;
  float: right;
}

.message.message-server {
  background: #e7f8ff;
  border-color: #1abeff;
}